<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myapp.test.scott.dao.DeptDao">

	<select id="deptAll" resultType="myapp.test.scott.dto.Dept">
	select*from dept</select>



</mapper>