<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myapp.test.scott.dao.DeptDao">




	<!--  <insert id="addDept" parameterType="myapp.test.scott.dto.Dept">
		insert into dept values(#{deptno),#{dname},#{loc})
	</insert>-->
	
	<insert id="addDept" parameterType="myapp.test.scott.dto.Dept">
		insert into dept values(#{deptno},#{dname},#{loc})
	</insert>
	
	<update id="updateDept" parameterType="myapp.test.scott.dto.Dept">
		update dept set dname=#{dname}, loc=#{loc} where deptno=#{deptno}
	</update>
	
	<delete id="deleteDept" parameterType="int">
		delete from dept where deptno = #{deptno}
	</delete>
	
	<select id="deptAll" resultType="myapp.test.scott.dto.Dept">
		select * from dept order by deptno
	</select>
	<select id="deptOne" parameterType="int"   
	                     resultType="myapp.test.scott.dto.Dept">
		select * from dept where deptno = #{no}
	</select>
	<select id="maxNo" resultType="int">
		select max(deptno) from dept
	</select>
</mapper>  
  
