<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myapp.test.scott.dao.DeptDao">

	<select id="deptAll" resultType="myapp.test.scott.dto.Dept">
	select*from dept
	</select>
	
	<select id="deptOne" parameterType="int" resultType="myapp.test.scott.dto.Dept">
	select*from dept where deptno=#{no} <!--select문은 from부터!dept에 있는 deptno(사원정보)를 *전체에검색한 값을  no에 저장한다.  -->
	</select>
	



</mapper>